@model List<Event>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Список мероприятий</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Список мероприятий</h1>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название мероприятия</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var events in Model)
                {
                    <tr>
                        <td>@events.EventName</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-controller="Event" asp-route-id="@events.Id">Подробнее</a>
                            <a class="btn btn-info" asp-action="Edit" asp-controller="Event" asp-route-id="@events.Id">Изменить</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Event" asp-route-id="@events.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-success" asp-action="Create">Создать</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>